footer {
  background-color: var(--bla);
  padding: 100px 0 87px 0;
  margin-top: 60px;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1200px;
  width: 100%;
  gap: 3rem;
  margin: 0 auto;
  padding: 0 20px;
}
footer .footer__h3 {
  font-family: var(--M);
  color: var(--whi);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}
footer .footer__h2 {
  font-family: var(--M);
  color: var(--whi);
  font-size: 22px;
  font-weight: 400;
  margin-top: 1rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
  padding-top: 40px;
  justify-content: start;
  flex-direction: column;
}
footer ul a {
  color: var(--whi);
  text-decoration: none;
  font-family: var(--M);
  font-size: 18px;
  font-weight: 400;
}
footer p {
  color: var(--whi);
  font-family: var(--M);
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
footer .last__text {
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer h4 {
  padding-top: 45px;
  color: var(--whi);
  text-transform: uppercase;
  font-family: var(--M);
  font-size: 18px;
  font-weight: 400;
}
footer .icon {
  display: flex;
  padding-top: 40px;
  gap: 26px;
}
